.linkCnt{
    display: flex;
    justify-content: space-between;
    width: 150px;
    color: #492626;
}

.post_avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center ;
}

.closeBtn{
    position: relative;
    transform: translate(620%, -760%);
}

@media(max-width: 490px){
    .closeBtn{
        transform: translate(450%, -670%);
    }
}

@media(max-width: 370px){
    .closeBtn{
        transform: translate(300%, -670%);
    }
}